<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <title>プロジェクト部屋</title>
    <link href="{% static 'DevConnect/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="channel col-3">
                <p>チャンネル予定地 ＊確認用</p>
            </div>
            <div class="chat col-6">
                {% for c in chat %}
                <p>{{c.user}}</p>
                <p>{{c.content}}</p>
                <p>{{c.timestamp}}</p>
                {% endfor %}
                <form class="" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="project-message-input" class="form-control" name="content" type="text" size="100"><br>
                    <button type="submit" name="submit" id="project-message-submit">送信</button>
                </form>
                {{ project_name|json_script:"project-name" }}
            </div>
            <div class="member col-3">
                <p>メンバー予定地 ＊確認用</p>
            </div>
        </div>
    </div>
    <footer class="container-fluid mt-5 bg-dark">
        <ul class="nav justify-content-around">
            <li class="nav-item">
                <div class="my-nav">
                    <a class="nav-link link-light" href="#">マイページ</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="my-nav">
                    <a class="nav-link link-light" href="#">検索</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="my-nav">
                    <a class="nav-link link-light" href="#">プロジェクト作成</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="my-nav">
                    <a class="nav-link link-light" href="#">設定</a>
                </div>
            </li>
        </ul>
    </footer>
    <script>
        const projectName = JSON.parse(document.getElementById('project-name').textContent);

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/project/' +
            projectName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            // location.reload()
            console.log("Hello")
        };

        //     const data = JSON.parse(e.data);
        //     document.querySelector('#project-log').value += (data.message + '\n');
        // };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#project-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#project-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
</body>

</html>