<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>project_detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form method="post" action="hoge">
            <div class="form-group">
                <p class="control-label"><b>募集ジャンル</b></p>
                <div class="checkbox-inline">
                    <input type="checkbox" value="progma" name="interests" id="interest_soccer">
                    <label for="interest_soccer">プログラマー</label>
                </div>
                <div class="checkbox-inline">
                    <input type="checkbox" value="design" name="interests" id="interest_basketball">
                    <label for="interest_basketball">デザイナー</label>
                </div>
                <div class="checkbox-inline">
                    <input type="checkbox" value="project" name="interests" id="interest_baseball">
                    <label for="interest_baseball">制作・企画</label>
                </div> 
            </div>     
        </form>

        <div class="row">
            <input id="project-search" type="button" value="送信">
        </div>
    </div>

    <nav class="navbar navbar-expand navbar-dark bg-info fixed-bottom">
        <div class="row">
            <p>メニューバー予定地 ＊確認用</p>
            <div class="col-3">
                <!-- <a href="{% url 'cp' %}"></a> -->
            </div>
            <div class="col-3">
                <!-- <a href="{% url 'cp' %}"></a> -->
            </div>
            <div class="col-3">
                <a href="{% url 'cp' %}">プロジェクト作成</a>
            </div>
            <div class="col-3">
                <!-- <a href="{% url 'cp' %}"></a> -->
            </div>   
        </div>
    </nav>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
</body>

</html>